html {
    /* box-sizing: border-box; */

    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: helvetica;
}

.container {
    width: 900px;
    margin: auto;
}






/* ********** HeroImage ********** */
.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/code.jpg');
    background-attachment: fixed;
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(11, 105, 109, 0.472);

}

.hero-image-title {
    font-size: 8vw;
    font-style: italic;
    color: white;
}

a.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* border-radius: 50%; */
    color: white;
    background-color: #0868AC;


}

a.btn:hover {
    background-color: #1E2E3B;
}


/* popup */
.popup_content {
    margin: 10px;
    padding: 10px;
    /* max-width: 60%; */
    /* border: 2px solid #444; */
    background: rgba(61, 61, 61, 0.507);
    display: none;
}

/* logo slider */
#fotosola {
    position: relative;
    left: -800px;

}


/*  */