html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: helvetica;
}

.maincontainer {

    background: url("../images/pexels-mudassir-slim.png");
    background-size: cover;
}

.container {
    width: 900px;
    margin: auto;
    padding: 50px 25px;
    background-color: #1E2E3B;
}

.con {
    margin-top: 50px;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

h1 {
    color: white;
    font-weight: bold;
}

.container h1 {
    text-align: center;
}

.container h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.show_hide {
    margin-left: 300px;
}

.inhoud-1,
.inhoud-2,
.inhoud-3,
.inhoud-4,
.inhoud_area,
.inhoud-6 {
    height: 120px;
}

.accordioncontainer {
    padding-bottom: 50px;
}

#accordion li {
    font-weight: bold;
    font-style: italic;
}

#knop_toon,
#knop_verberg,
#content1 {
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: #5c8aaf;
    cursor: pointer;
    margin: 10px 0;
}

.box-container {
    width: 350px;
    margin: auto;
}

.box-container div {
    float: left;
    height: 50px;
    margin-bottom: 8px;
    margin-right: 8px;
    overflow: hidden;
    width: 50px;
}

.box-container div p {
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding-top: 14px;
    text-align: center;
    width: 100%;
}

.box-container div:nth-child(1) {
    background: red;
}

.box-container div:nth-child(2) {
    background: blue;
}

.box-container div:nth-child(3) {
    background: green;
}

.box-container div:nth-child(4) {
    background: orange;
}

.box-container div:nth-child(5) {
    background: purple;
}

.box-container div:nth-child(6) {
    background: brown;
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.trigger-header h2 {
    background-color: white;
    color: #0868AC;
    text-align: center;
    padding: 25px 0;
    cursor: pointer;
}

#slide-in {
    display: none;
    margin: auto;
    width: 800px;
    margin-top: 50px;
    color: white;
}

/* ********** HeroImage (DANIEL)********** */
.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/code.png');
    background-attachment: fixed;
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(11, 105, 109, 0.472);

}

.hero-image-title {
    font-size: 8vw;
    font-style: italic;
    color: white;
    font-weight: bold;

}

a.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: fit-content;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0868AC;
    margin: 0 20px;
}

a.btn:hover {
    background-color: #1E2E3B;
    color: white;
}

.popup_open:visited {
    background-color: #1E2E3B;
    color: white;
}




.popup_content {
    margin: 10px;
    padding: 10px;
    background: rgba(61, 61, 61, 0.507);
    display: none;
}

#fotosola {
    position: relative;
    left: -800px;
}

.animatie_knop {
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: mediumaquamarine;
    font-size: 1.3rem;
}

.animatie_knop:hover {
    color: white;
    font-size: 2.3rem;
}

form {
    padding: 10px;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(66, 119, 121, 0.5);
    margin: auto;
    margin-bottom: 80px;
}

form .label {
    width: 110px;
}

form .tekstveld {
    width: 250px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
}

form textarea {
    border-radius: 5px;
}

form span {
    color: red;
}

.border-knop {
    border: 1px solid black;
    border-radius: 5px;
}

/* ------------- start styles Anton ------------- */

div#aqua {
    text-align: center;
    width: 100%;
    margin: 0px;
}

.bubble {
    background-image: linear-gradient(#FFF, lightgray);
    width: 800px;
    height: 500px;
    padding-top: 10px;
    border-radius: 20px;
    margin: 10px auto 10px auto;
    margin-top: 100px;
    filter: drop-shadow(6px 10px 4px #333);
}

.tekst {
    font-size: 18px;
    font-weight: bold;
    font-family: "Klavika Web Bold Condensed";
    color: #AAA;
    margin-top: -35px;
    text-align: center;
}

#divSnow {
    background-size: cover;
    background-color: #1a1918;
    width: 650px;
    height: 480px;
    margin: 0px auto;
    border-top: #CCC solid 4px;
    border-left: #CCC solid 1px;
    border-right: #CCC solid 1px;
    border-bottom: #222 solid 40px;
    border-radius: 50% 50% 10px 10px;
    background-image: url(https://i.picsum.photos/id/903/5616/3744.jpg?hmac=MfpYWi6n8atfdo54KB8Iv9yEWG06TAw9FXMYk5JEuzY);
    z-index: 2;
    background-blend-mode: normal;
}

.water {
    background-size: cover;
    width: 800px;
    height: 500px;
    margin: 0px auto;
    margin-top: 100px;
    filter: drop-shadow(6px 10px 4px #333);
    background-image: url(https://i.picsum.photos/id/677/4288/2848.jpg?hmac=9G3TRArVIg964T44P-E2MTu5_9Fz2juxO9meRramm_4);
}

#remote {
    color: #1a1918;
    width: 800px;
    height: 500px;
    margin: 0px auto;
    border-radius: 20px;
    background-image: url("../images/druppels.jpg");
    background-size: cover;
    filter: drop-shadow(6px 10px 4px #333);
}

#remote h2 {
    color: #0868AC;
    background-color: white;
    padding: 8px;
    border-radius: 20px 20px 0px 0px;

}

#remote ul {

    margin: 0px;

    padding-top: 30px;

}

#remote li {
    margin: 20px 0px;
}


#remote a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #222;
}

#remote header a,
#remote header a:hover {
    border: none;
    padding: 0px;
    border-radius: 15px;
    background-color: transparent;
}

/* ------------- end styles Anton------------- */

/* css footer DAniel */
.contfooter {
    width: 900px;
    margin: auto;
    padding: 0;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top: -50px;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #0868AC;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #0868AC;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.underline {
    width: 100px;
    height: 5px;
    background: #0868AC;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 10;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 1.5s linear infinite;
    display: none;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100px;
    }
}

.buttons {
    margin: 20px;
}

/* galerry daniel*/
#div {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    padding-top: 50px;
}

#div .btn {
    margin: auto;
}

figure {
    margin: 0 0 2em;
}

figure img {
    max-width: 100%;
    height: auto;
}

nav {
    font-size: 0;
    text-align: center;
}

nav a {
    margin: 0 .5em;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

nav a:before {
    content: '-';
    display: inline;
    margin-right: 1em;
}

nav a:first-child {
    margin-left: 0;
}

nav a:first-child:before {
    display: none;
}

/* end gallery */