html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: helvetica;
}

.container{
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

.gallery-slideshow img {
    width: 300px;
    height: 200px;
}

#accordion li {
    font-weight: bold;
    font-style: italic;
}

#knop, #content1, #knop2 {
    border-radius: 0.5rem;
    background-color: green;
    cursor: pointer;
}

.box-container {
    width: 450px;
    margin: auto;
}

.box-container div {
    float: left;
    height: 50px;
    margin-bottom: 8px;
    margin-right: 8px;
    overflow: hidden;
    width: 50px;
}

.box-container div p {
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding-top: 14px;
    text-align: center;
    width: 100%;
}

.box-container div:nth-child(1) {
    background: red;
}

.box-container div:nth-child(2) {
    background: blue;
}

.box-container div:nth-child(3) {
    background: green;
}

.box-container div:nth-child(4) {
    background: orange;
}

.box-container div:nth-child(5) {
    background: purple;
}

.box-container div:nth-child(6) {
    background: brown;
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/code.jpg');
    background-attachment: fixed;
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(11, 105, 109, 0.472);

}

.hero-image-title {
    font-size: 8vw;
    font-style: italic;
    color: white;
}

a.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* border-radius: 50%; */
    color: white;
    background-color: #0868AC;
}

a.btn:hover {
    background-color: #1E2E3B;
}

.popup_content {
    margin: 10px;
    padding: 10px;
    background: rgba(61, 61, 61, 0.507);
    display: none;
}

#fotosola {
    position: relative;
    left: -800px;

}

.animatie_knop {
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: mediumaquamarine;
    margin-bottom: 50px;
}

form {
    padding: 10px;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: azure;
}

form .label {
    width: 80px;
}

form .tekstveld {
    width: 250px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}

form textarea {
    border-radius: 5px;
}

.border-knop {
    border: 1px solid black;
    border-radius: 5px;
}

