body{
    margin: 0;
}

.container{
    width: 900px;
    margin: auto;
}
/* ********** Reset ********** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}



/* ********** HeroImage ********** */
.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);
}

.hero-image-title {
    font-size: 7.5vw;
    color: var(--hero-text-color);
}

a.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
}

